{% extends "base.html" %}
{% block title %}
    Hire Dedicated Developers
{% endblock %}
{% block content %}
<main class="main-services hiring">
    <div class="services-intro">
        <h1>
            Hire Dedicated Developer
        </h1>
        <div class="flexing">
            <div class="flex-intro">
                <p>
                    A dedicated development team is made up of developers, designers, testers, marketers, and managers as per the business requirements. It acts as your in-house team but you are free from managing administrative support, HR, tax, and social-related issues.
                </p>
                <a href="{{ url_for('contact') }}">
                    <button class="intro-btn">
                        Hire Dedicated Developers
                    </button>
                </a>
            </div>
            <div class="intro-img">
                <img src="{{ url_for('static', filename='landing/dedicateddevs.png') }}" />
            </div>
        </div>
    </div>

    <div class="services-benefits">
        <div class="benefit-intro">
            <h2>
                Hire Dedicated Developers!
            </h2>
            <p>
                A dedicated team is a perfect fit when you have large projects with frequent updates – planned or unplanned. This model is suitable for complex, long-term projects that have the potential to scale. Hire dedicated software developers model is cost-effective and allows you to focus on your business priorities rather than simultaneously spending time in management and running a business.
            </p>
            <p>
                If you have time constraints or you are facing a talent crisis, hiring dedicated developers can solve all your problems. A dedicated development team is well-versed in various technologies and they possess experience working on different projects. This experience and expertise make them suitable for all types of projects. This is quite difficult to achieve with your in-house team.
            </p>
        </div>

        <div class="benefits-cont">
            <div class="contents">
                <h3>
                    Hire Expert Frontend Developers!
                </h3>
                <p>
                    Elevate your user experience to the next level with our top-tier frontend developers. Whether it's crafting intuitive interfaces or optimizing user interactions, our team ensures your app stands out from the crowd.
                </p>
           </div>
           <div class="contents center">
                <h3>
                    Find Skilled Backend Developers!
                </h3>
                <p>
                    Power up your app's performance and reliability with our seasoned backend developers. From scalable architecture to efficient data management, our experts ensure your app's backend is robust and future-proof.
                </p>
           </div>
           <div class="contents right">
                <h3>
                    Hire Top-Notch Mobile App Developers!
                </h3>
                <p>
                    Dive into a world of talent with our diverse pool of mobile app developers, covering iOS, Android, Kotlin, Swift, React Native, and Flutter specialists. Whether you need frontend wizards, backend maestros, or meticulous software testers, we've got you covered!
                </p>
           </div>
        </div>
    </div>
    
   <div class="services-content">
        <div class="intro-cont">
                <h2>
                    Steps to Hire Dedicated Developers from Fortress Data And Analytics
                </h2>
        </div>
        <div class="main-cont">
            <div class="contents left">
                <h3>
                    <img src="{{ url_for('static', filename='services/hire_1.png') }}" alt="">
                    Post Your Inquiry
                </h3>

            </div>
            <div class="contents right">
                <h3>
                    <img src="{{ url_for('static', filename='services/hire_4.png') }}" alt="">
     
                    Interview
                </h3>
            </div>
            <div class="contents left">
                <h3>
                    <img src="{{ url_for('static', filename='services/hire_3.png') }}" alt="">

                    Engagement Terms
                </h3>
            </div>
            <div class="contents right">
                <h3>
                    <img src="{{ url_for('static', filename='services/hire_2.png') }}" alt="">

                    Get Started
                </h3>
            </div>
        </div>
   </div>
    
    
    <div class="services-technologies hire">
        <h2>
            Technologies
        </h2>
        <button>
            <img src="{{ url_for('static', filename='services/JavaScript-Logo.png') }}"><br>
            JavaScript
        </button>
        <button>
            <img src="{{ url_for('static', filename='services/Python-Logo.png') }}"><br>
            Python
        </button>
        <button>
            <img src="{{ url_for('static', filename='services/cplus.png') }}"><br>
            C++
        </button>
        <button>
            <img src="{{ url_for('static', filename='services/JAVA-Logo.png') }}"><br>
            Java
        </button>
    </div>

    <div class="services-contact">
        <img src="{{ url_for('static', filename='services/Project_With_Us_graphic.png') }}" alt="">
        <h2>
            Hire a Dedicated Developer
        </h2>
        <p>
            We simplify the extension of your development team by offering you a vetted, experience, and skilled single backend resource or a dedicated team of developers for hire on a full-time, part-time, and hourly basis.
        </p>
        <a href="{{ url_for('contact') }}">
            <button>
                Hire Dedicated Developer
            </button>  
        </a>  
    </div>

    <div class="services-ind">
        <h2>
            Solutions for Industries
        </h2>
        <div class="ind-cont">
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/fitness.png') }}">
                <h5>
                    Fitness
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/fintech.png') }}">
                <h5>
                    Fintech
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/education.png') }}">
                <h5>
                    Education
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/healthcareicon.png') }}">
                <h5>
                    Healthcare
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/energy-and-utilities.png') }}">
                <h5>
                    Energy & Utilities
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/travel-and-hospitality.png') }}">
                <h5>
                    Travel & Hospitality
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/manufacturing.png') }}">
                <h5>
                    Manufacturing
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/advertising.png') }}">
                <h5>
                    Advertising
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/retail.png') }}">
                <h5>
                    Retail
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/media-and-entertainment.png') }}">
                <h5>
                    Media & Entertainment
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/logistics.png') }}">
                <h5>
                    Supply Chain And Logistics
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/life-sciences.png') }}" alt="">
                <h5>
                    Life Science
                </h5>
            </div>      
        </div>
    </div>
</main>
{% endblock %}