{% extends "base.html" %}
{% block title %}
    Hire Mobile Developers
{% endblock %}
{% block content %}
<main class="main-services">
    <div class="services-intro">
        <h1>
            Hire Mobile Developer
        </h1>
        <div class="flexing">
            <div class="flex-intro">
                <p>
                    Mobile apps are an indispensable ingredient for today’s businesses to stay connected and be successful. As a skilled mobile app development company,Fortress Data And Analytics has an apt resource pool that offers mobile app development services, from where you can hire mobile app developers. Our competent mobile app development team is well-versed in building creative and robust mobile apps that can attract users. Hire mobile app developer from us to enjoy optimal standards of quality, performance, and security with the perfect blend of technical proficiency, market intelligence, and business insight.                </p>
                <a href="{{ url_for('contact') }}">
                    <button class="intro-btn">
                        Hire Mobile Developers
                    </button>
                </a>
            </div>
            <div class="intro-img">
                <img src="{{ url_for('static', filename='landing/mobile.png') }}" />
            </div>
        </div>
    </div>

    <div class="services-benefits">
        <div class="benefit-intro">
            <h2>
                Our Mobile App Development Services
            </h2>
            <p>
                As a competent mobile app development company, we have, with us, a certified pool of app developers for hire who perceive the intricacies of mobile app development to the core and leverage the technologies in the best way possible. Our mobile app development services have been implemented successfully by enterprises worldwide.
            </p>
        </div>

        <div class="benefits-cont">
            <div class="contents">
                <h3>
                    Custom Mobile App Development
                </h3>
                <p>
                    Get your mobile app developed by our skilled taskforce. Experience the technical benefits of our mobile app developer for hire and transform your ideas into reality. The detailed expertise, in depth technological knowledge and industry wide domain experience that our designers and developers possess are reflected in the flexible and tailormade mobile app development that is specifically done for your customized needs.
                </p>
           </div>
           <div class="contents center">
                <h3>
                    Cross Platform App Development
                </h3>
                <p>
                    We offer exceptional cross platform app development services through which you can simplify the entire app development process and create a single codebase for various platforms. Our app developers for hire are experts in leveraging intricacies of popular technologies like Flutter, React Native etc. They ensure lesser costs and go-to-market time by using the advantages of cross platform mobile app development.
                </p>
           </div>
           <div class="contents right">
                <h3>
                    iOS App Development
                </h3>
                <p>
                    Our iOS app development team is well versed with intricacies of the technology and launching of applications in the play store. Hire mobile app developers from us to leverage various arms of iOS based functionalities and create a personalized experience that can fetch increased productivity and profitability. Make process of making iOS applications easy for iPhone, iPad, and iPod Touch etc.
                </p>
           </div>
           <div class="contents">
                <h3>
                    Android App Development
                </h3>
                <p>
                    Our Android app development services are robust and offer creation of Android apps with an excellent team of developers, designers, and testers. We make the best use of technologies like Kotlin and Java and master the knowledge and skills necessary to attract more clients, increase visibility and enhance growth. To hire mobile app developer from us will lead to enormous benefits.
                </p>
            </div>
           <div class="contents center">
                <h3>
                    Hybrid App Development
                </h3>
                <p>
                    We possess expertise in taking the best of two worlds – web applications and native technologies to come up with hybrid applications that can save on time and resources. Hire a mobile app developer to create hybrid mobile apps that are compatible across different platforms and devices. The apps are created with web technologies like HTML, CSS, JavaScript and enclosed into specified native app wrappers.
                </p>
           </div>
           <div class="contents right">
            <h3>
                PWA App Development
            </h3>
            <p>
                Progressive web applications are a cutting edge technology consisting of a set of ideal practices for creating a web app function similarly to a mobile app. We create user friendly, responsive, and good quality web apps that provide tailored experience and cross platform interoperability across platforms. Our developers take the best of the web and mobile world for developing applications.
            </p>
       </div>
        </div>
    </div>
    
   <div class="services-content">
        <div class="intro-cont">
                <h2>
                    Steps to Hire Dedicated Developers from Fortress Data And Analytics
                </h2>
        </div>
        <div class="main-cont">
            <div class="contents left">
                <h3>
                    <img src="{{ url_for('static', filename='services/hire_1.png') }}" alt="">
                    Post Your Inquiry
                </h3>

            </div>
            <div class="contents right">
                <h3>
                    <img src="{{ url_for('static', filename='services/hire_4.png') }}" alt="">
     
                    Interview
                </h3>
            </div>
            <div class="contents left">
                <h3>
                    <img src="{{ url_for('static', filename='services/hire_3.png') }}" alt="">

                    Engagement Terms
                </h3>
            </div>
            <div class="contents right">
                <h3>
                    <img src="{{ url_for('static', filename='services/hire_2.png') }}" alt="">

                    Get Started
                </h3>
            </div>
        </div>
   </div>

    <div class="services-contact">
        <img src="{{ url_for('static', filename='services/Project_With_Us_graphic.png') }}" alt="">
        <h2>
            Hire a Mobile Developer
        </h2>
        <p>
            Your Search Is Over. Leverage our 'Hire a Mobile App Developer’ service and attain optimal results.
        </p>
        <a href="{{ url_for('contact') }}">
            <button>
                Hire Mobile Developer
            </button>  
        </a>  
    </div>

    <div class="services-ind">
        <h2>
            Solutions for Industries
        </h2>
        <div class="ind-cont">
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/fitness.png') }}">
                <h5>
                    Fitness
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/fintech.png') }}">
                <h5>
                    Fintech
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/education.png') }}">
                <h5>
                    Education
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/healthcareicon.png') }}">
                <h5>
                    Healthcare
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/energy-and-utilities.png') }}">
                <h5>
                    Energy & Utilities
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/travel-and-hospitality.png') }}">
                <h5>
                    Travel & Hospitality
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/manufacturing.png') }}">
                <h5>
                    Manufacturing
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/advertising.png') }}">
                <h5>
                    Advertising
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/retail.png') }}">
                <h5>
                    Retail
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/media-and-entertainment.png') }}">
                <h5>
                    Media & Entertainment
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/logistics.png') }}">
                <h5>
                    Supply Chain And Logistics
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/life-sciences.png') }}" alt="">
                <h5>
                    Life Science
                </h5>
            </div>      
        </div>
    </div>
</main>
{% endblock %}