{% extends "base.html" %}
{% block content %}
<main class="main-services">
    <div class="services-intro">
        <h1>
            Software Testing
        </h1>
        <div class="flexing">
            <div class="flex-intro">
                <p>
                    We are committed to serve the best of quality, our Desktop/Web/Mobile App testing teams aim to enhance cost-effectiveness and reduce rework time by identifying possible issues at the early stages of the project life cycle with an unbiased assessment of the quality of the applications, through a well thought of mix of manual as well as automated testing.
                </p>
                <a href="{{ url_for('contact') }}">
                    <button class="intro-btn">
                        Get Started
                    </button>
                </a>
            </div>
            <div class="intro-img">
                <img src="{{ url_for('static', filename='landing/testing.png') }}" alt="">
            </div>
        </div>
    </div>
    <div class="services-content">
        <div class="intro-cont">
            <h2>
                Our Software Testing Services
            </h2>
            <p>
                As an independent software testing company, Fortress Data And Analytics offers sophisticated and exhaustive Software Testing services, with a committed, competent and proficient testing team, dedicated to persistently refining quality. Our demarcated standard testing procedures have a perfect amalgamation of manual as well as automated testing. Our primary focus as a QA and testing services company is to ensure enhanced quality at each junction of the project, target almost zero Post Delivery Defects, and achieve utmost customer satisfaction with consistent analysis and even-handed assessment.
            </p>
        </div>
        <div class="main-cont">
            <div class="contents left">
                <h3>
                    <img src="{{ url_for('static', filename='services/Business-Analytics-Services-Icon.png') }}" alt="">

                    Automated Testing Services
                </h3>
                <p>
                    We provide discrete focus to Automated software testing services by having individual teams that incessantly, are well-informed of the modern testing tools and provide their inputs to our esteemed customers. Understanding the increasing importance of the agile development methodology, we skillfully, simulate scenarios and mix, both manual and automated testing, as a part of our test plans and test cases.
                </p>
            </div>
            <div class="contents right">
                <h3>
                    <img src="{{ url_for('static', filename='services/Software-Testing-Services.png') }}" alt="">

                    Manual Software Testing
                </h3>
                <p>
                    Fortress Data And Analytics helps to improve and stabilize the software applications ensuring reduced cost and accelerated delivery. As our testing team has gained hands-on expertise in manual mobile testing and web testing, we can easily address complex challenges to deliver a successful solution with minimal risk. We follow industry-standard manual software testing processes and methodologies which help our clients to meet their quality assurance goals.
                </p>
            </div>
            <div class="contents left">
                <h3>
                    <img src="{{ url_for('static', filename='services/Insistent-Test-Process-Management-icon.png') }}" alt="">

                    Penetration Testing Services
                </h3>
                <p>
                    As a leading software testing company in India, we ensure your systems are safe and sound through effective penetration testing and vulnerability assessment services. Our security testing services will identify security weaknesses of your software architecture and improve the effectiveness of defensive mechanisms.
                </p>
            </div>
            <div class="contents right">
                <h3>
                    <img src="{{ url_for('static', filename='services/Testing.png') }}" alt="">

                    Performance Testing Services
                </h3>
                <p>
                    Performance testing is essential to test your website’s performance under load, stress, and certain conditions like the increased volume of transactions, resource usage, complex configurations, and so on. It is crucial to maintaining the performance of your software product by examining responsiveness, scalability, and consistency. With a consistent approach to quality, our QA consultants make sure you will get responsive, faultless, and secure web and mobile apps.
                </p>
            </div>
            <div class="contents left">
                <h3>
                    <img src="{{ url_for('static', filename='services/Multiple-Automated-Testing-Tools-icon.png') }}" alt="">

                    Usability Testing
                </h3>
                <p>
                    Usability testing is a method of testing the functionality of a website, app, or other digital product to evaluate the effectiveness, efficiency, and satisfaction of a product or system by testing it with real users. Our Usability testing services help to create the products that are user-friendly and meet the expectations of the target audience.
                </p>
            </div>
            <div class="contents right">
                <h3>
                    <img src="{{ url_for('static', filename='services/Java-Mobile-App-Development-icon.png') }}" alt="">

                    Mobile App Testing
                </h3>
                <p>
                    Fortress Data And Analytics as your software testing services company provides top testing services for all your app development solutions, thus, ensuring functionality, usability, performance, security and consistency across all platforms.
                </p>
            </div>

        </div>
    </div>
    <div class="services-benefits">
        <div class="benefit-intro">
            <h2>
                Wide-Ranging Software Testing and Quality Assurance Services
            </h2>
            <p>
                We deliver a thoroughly optimized product that results in more efficiency and improved productivity.
            </p>
        </div>
        <div class="benefits-cont">
            <div class="contents">
                <h3>
                    API Testing
                </h3>
                <p>
                    We have been performing manual API testing for SOAP, REST, JASON, XML and other related protocols to meet the expectations for functionality, reliability, performance, and security.
                </p>
            </div>
            <div class="contents">
                <h3>
                    Automated Mobile App Testing
                </h3>
                <p>
                    With the right set of automation tools, optimize and test mobile apps to increase overall efficiency
                </p>
            </div>
            <div class="contents">
                <h3>
                    Web Security Testing
                </h3>
                <p>
                    Regardless of the type of the website, gain comprehensive website security check from experts.
                </p>
            </div>
            <div class="contents">
                <h3>
                    Load Testing
                </h3>
                <p>
                    How your app performs under the situation of peak load and stress conditions.
                </p>
            </div>
            <div class="contents">
                <h3>
                    Performance Testing
                </h3>
                <p>
                    Increase the performance of your application with cost-effective performance testing services.
                </p>
            </div>
            <div class="contents">
                <h3>
                    Manual Testing
                </h3>
                <p>
                    Leverage our manual testing skills to gain measurable, quality-driven results.
                </p>
            </div>

        </div>
    </div>
    <div class="services-technologies"></div>
    <div class="services-contact">
        <img src="{{ url_for('static', filename='services/Project_With_Us_graphic.png') }}" alt="">
        <h2>
            Hire Software Tester
        </h2>
        <p>
            The software testing team at Fortress Data And Analytics  aims to achieve a single goal of achieving maximum customer satisfaction. Our testing resources assure you of unmatched QA services that offers the best of outputs in terms of a robust and high-quality solution.
        </p>
        <a href="{{ url_for('contact') }}">
            <button>
                Get in Touch
            </button>
        </a>
    </div>
    <div class="services-ind">
        <h2>
            Business Intelligence Solutions for Industries
        </h2>
        <div class="ind-cont">
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/fitness.png') }}">
                <h5>
                    Fitness
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/fintech.png') }}">
                <h5>
                    Fintech
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/education.png') }}">
                <h5>
                    Education
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/healthcareicon.png') }}">
                <h5>
                    Healthcare
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/energy-and-utilities.png') }}">
                <h5>
                    Energy & Utilities
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/travel-and-hospitality.png') }}">
                <h5>
                    Travel & Hospitality
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/manufacturing.png') }}">
                <h5>
                    Manufacturing
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/advertising.png') }}">
                <h5>
                    Advertising
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/retail.png') }}">
                <h5>
                    Retail
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/media-and-entertainment.png') }}">
                <h5>
                    Media & Entertainment
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/logistics.png') }}">
                <h5>
                    Supply Chain And Logistics
                </h5>
            </div>
            <div class="contents">
                <img src="{{ url_for('static', filename='industries/life-sciences.png') }}" alt="">
                <h5>
                    Life Science
                </h5>
            </div>      
        </div>
    </div>
</main>
{% endblock %}