@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    position: fixed;
    width: 100%;
    max-width: 100%;
    background-color: #00b7eb;
    text-decoration: none;
    z-index: 20;
    justify-content: space-between;

}

.navbar {
    display: flex;
    align-items: right;
    justify-content: space-between;
    margin: 2%;

}

.navbar .home-nav {
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin-left: -50%;
    transition: .5s ease-in-out;
}

.navbar .home-nav:hover {
    font-size: 17px;
    color: aqua;
}

.dropdown-serv,
.dropdown-abt,
.dropdown-tech,
.dropdown-ind,
.dropdown-sol,
.dropdown-hire {
    position: relative;
}

.dropdown-serv .dropbtn:hover,
.dropdown-abt .dropbtn:hover,
.dropdown-tech .dropbtn:hover,
.dropdown-ind .dropbtn:hover,
.dropdown-sol .dropbtn:hover,
.dropdown-hire .dropbtn:hover {
    font-size: 17px;
    color: aqua;
}


.dropdown-serv .dropbtn,
.dropdown-abt .dropbtn,
.dropdown-tech .dropbtn,
.dropdown-ind .dropbtn,
.dropdown-sol .dropbtn,
.dropdown-hire .dropbtn {
    border: none;
    background-color: transparent;
    outline: none;
    border-radius: 80px;
    text-align: center;
    width: 105%;
    font-size: 15px;
    font-family: inherit;
    margin-right: 20%;
    color: #fff;
    transition: .5s ease;
}

.dropdown-serv .dropdown-serv-content,
.dropdown-abt .dropdown-abt-content,
.dropdown-tech .dropdown-tech-content,
.dropdown-ind .dropdown-ind-content,
.dropdown-sol .dropdown-sol-content,
.dropdown-hire .dropdown-hire-content {
    display: none;
    position: absolute;
    background-color: #00b7eb;
    min-width: 300px;
    max-height: 700px;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 30;
}

.dropdown-serv .dropdown-serv-content a,
.dropdown-abt .dropdown-abt-content a,
.dropdown-tech .dropdown-tech-content a,
.dropdown-ind .dropdown-ind-content a,
.dropdown-sol .dropdown-sol-content a,
.dropdown-hire .dropdown-hire-content a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-serv .dropdown-serv-content a:hover,
.dropdown-abt .dropdown-abt-content a:hover,
.dropdown-tech .dropdown-tech-content a:hover,
.dropdown-ind .dropdown-ind-content a:hover,
.dropdown-sol .dropdown-sol-content a:hover,
.dropdown-hire .dropdown-hire-content a:hover {
    background-color: aqua;
}

.dropdown-serv:hover .dropdown-serv-content,
.dropdown-abt:hover .dropdown-abt-content,
.dropdown-tech:hover .dropdown-tech-content,
.dropdown-ind:hover .dropdown-ind-content,
.dropdown-sol:hover .dropdown-sol-content,
.dropdown-hire:hover .dropdown-hire-content {
    display: block;
}

.dropdown-serv .dropdown-serv-content {
    left: -200%;
}

.dropdown-abt .dropdown-abt-content {
    left: -200%;
}

.dropdown-tech .dropdown-tech-content {
    left: -100%;
}

.dropdown-ind .dropdown-ind-content {
    left: -100%;
}

.dropdown-sol .dropdown-sol-content {
    left: -50%;
}

.dropdown-hire .dropdown-hire-content {
    left: -200%;
}

.header .mobile-menu div {
    width: 40px;
    height: 5px;
    background-color: white;
    margin: 4px 0;
    transition: .5s ease;
    border-radius: 20px;
}

.header .mobile-menu:hover div {
    width: 60px;
    height: 7px;
    background-color: aqua;
}

.header .mobile-menu {
    display: none;
    padding-right: 2%;
    padding-top: 1.5%;
}

.logo {
    margin-left: 2%;
    margin-top: 1%;
}

.logo a img {
    width: 50px;
}


#dark-mode-toggle {
    background: transparent;
    color: white;
    font-size: 55px;
    border: none;
    cursor: pointer;
    margin-right: 2%;
}

span #dark-mode-icon {
    padding: 0;
}

#dark-mode-toggle:active {
    color: blue;
}

@media screen and (max-width: 1050px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100vh;
        padding-bottom: 10%;
        overflow-y: auto;
        z-index: 20;
        background-color: #00b7eb;
        top: 0px;
    }


    .navbar a,
    .navbar .dropdown-serv,
    .navbar .dropdown-abt,
    .navbar .dropdown-tech,
    .navbar .dropdown-ind,
    .navbar .dropdown-sol,
    .navbar .dropdown-hire {
        background-color: #00b7eb;
        padding: 15px;
        text-decoration: none;
        color: white;
        transition: .5s;
    }

    .dropdown-serv .dropbtn,
    .dropdown-abt .dropbtn,
    .dropdown-tech .dropbtn,
    .dropdown-sol .dropbtn,
    .dropdown-hire .dropbtn {
        width: 100%;
        margin-right: 0;
    }

    .dropdown-serv .dropdown-serv-content,
    .dropdown-abt .dropdown-abt-content,
    .dropdown-tech .dropdown-tech-content,
    .dropdown-sol .dropdown-sol-content,
    .dropdown-hire .dropdown-hire-content {
        display: none;
        background-color: #00b7eb;
        box-sizing: border-box;
        width: 700px;
    }

    .dropdown-serv .dropdown-serv-content a,
    .dropdown-abt .dropdown-abt-content a,
    .dropdown-tech .dropdown-abt-content a,
    .dropdown-sol .dropdown-sol-content a,
    .dropdown-hire .dropdown-hire-content a {
        width: 100%;
        box-sizing: border-box;
    }

    .header .mobile-menu {
        display: block;
    }

    .header .navbar.show {
        position: relative;
        align-items: center;
        display: flex;
    }

    .navbar .home-nav {
        margin-left: 1%;
    }

    .dropdown-serv:hover .dropdown-serv-content,
    .dropdown-abt:hover .dropdown-abt-content,
    .dropdown-tech:hover .dropdown-tech-content,
    .dropdown-ind:hover .dropdown-ind-content,
    .dropdown-sol:hover .dropdown-sol-content,
    .dropdown-hire:hover .dropdown-hire-content {
        display: block;
    }

    .dropdown-serv:active .dropdown-serv-content,
    .dropdown-abt:active .dropdown-abt-content,
    .dropdown-tech:active .dropdown-tech-content,
    .dropdown-sol:active .dropdown-sol-content,
    .dropdown-hire:active .dropdown-hire-content {
            display: block;
    }

    .dropdown-serv .dropdown-serv-content {
        left: -280%;
        padding-bottom: 50%;
    }

    .dropdown-abt .dropdown-abt-content {
        left: -350%;
        padding-bottom: 50%;
    }

    .dropdown-tech .dropdown-tech-content {
        left: -200%;
        padding-bottom: 50%;
    }

    .dropdown-ind .dropdown-ind-content {
        left: -80%;
        padding-bottom: 50%;
    }

    .dropdown-sol .dropdown-sol-content {
        left: -150%;
        padding-bottom: 50%;
    }

    .dropdown-hire .dropdown-hire-content {
        left: -250%;
        padding-bottom: 50%;
    }
}