{% extends 'base.html' %}
{% block title %}
    Enterprise ERP Solution
{% endblock %}
{% block content %}
<main class="bs">
    <div class="bs-intro">
        <div class="bs-intro-cont">
            <h1>
                Custom ERP Software
            </h1>
            <p>
                The goal of custom ERP software development is to create a scalable, business-tailored system that aid in the management of large amounts of business-related data. Fortress Data And Analytics understands how to match technology to your company goals to provide end-to-end Custom ERP development and support that can be ideal for your business requirement.
            </p>
            <a href="{{ url_for('contact') }}">
                <button>
                    Request a Demo
                </button>
            </a>
        </div>
        <img src="{{ url_for('static', filename='landing/erp.png') }}" alt="">
    </div>

    <div class="something">
        <h2>
            ERP Development
        </h2>
        <p>
            Fortress Data And Analytics' cloud-based, scalable, customizable, and integrated Mobile ERP software carries out all business-critical processes in a centralized and integrated manner. Custom ERP systems are built and utilized to automate, manage, and integrate various business components, enable businesses to have a 360-degree view and a single point of real-time data reference.
        </p>
    </div>

    <div class="discover">
        <h2>
            Discover How Custom ERP Software Modules Can Augment Productivity And Profitability
        </h2>
        <div class="discover-cont">
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/erp1.png') }}" alt="">
                <p>Accounts</p>
            </div>
            <div class="div ">
                <img src="{{ url_for('static', filename='bs_sol/erp2.png') }}" alt="">
                <p>Human Resource</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/erp3.png') }}" alt="">
                <p>Advertising</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/erp4.png') }}" alt="">
                <p>Production</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/erp5.png') }}" alt="">
                <p>Warehouse Management</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/erp6.png') }}" alt="">
                <p>Sales and Distribution</p>
            </div>
        </div>
    </div>
    
    <div class="bs-benefits">
        <h2>
            Benefits Of ERP System
        </h2>
        <ul>
            <li>
                Uniform user-friendly interfaces for web portals and mobile applications
            </li>
            <li>
                Maximum features and reports of all modules available on the mobile app
            </li>
            <li>
                Highly secured login methods (pin, fingerprint, OTP, face detection)
            </li>
            <li>
                Geo-fencing to restrict the work area and restricted access based on user location/device/sim ID
            </li>
            <li>
                Intelligent reports for top-level management for forecasting, budgeting & planning
            </li>
            <li>
                Custom report builder to get interactive reports in various formats (table/chart etc. as per requirements)
            </li>
        </ul>
    </div>

    <div class="assurance">
        <h2>
            Our Assurance in ERP Development
        </h2>
        <div class="assurance-cont">
            <div class="assure">
                <img src="{{ url_for('static', filename='bs_sol/assu1.png') }}" alt="">
                <p>Easy Installation & Minimum Go To Live Time</p>
            </div>
            <div class="assure">
                <img src="{{ url_for('static', filename='bs_sol/assu2.png') }}" alt="">
                <p>
                    Flexible & Fully Customisable as Per Business Processes
                </p>
            </div>
            <div class="assure">
                <img src="{{ url_for('static', filename='bs_sol/assu4.png') }}" alt="">
                <p>24x7 SLA based Support</p>
            </div>
            <div class="assure">
                <img src="{{ url_for('static', filename='bs_sol/assu5.png') }}" alt="">
                <p>Increased Productivity & Profitability</p>
            </div>
            <div class="assure">
                <img src="{{ url_for('static', filename='bs_sol/assu6.png') }}" alt="">
                <p>
                    Increased ROI
                </p>
            </div>
            <div class="assure">
                <img src="{{ url_for('static', filename='bs_sol/assu8.png') }}" alt="">
                <p>
                    Top-Notch Security (Pin , Finger Print, OTP, Face Detection)
                </p>
            </div>
        </div>
    </div>


    <div class="discover">
        <h2>
            External Hardware Integration
        </h2>
        <div class="discover-cont">
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/hard8.png') }}" alt="">
                <p>Biometric machine</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/hard2.png') }}" alt="">
                <p>GPS Device</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/hard6.png') }}" alt="">
                <p>Thermometer System</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/hard10.png') }}" alt="">
                <p>Fingerprint Scan Access</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/hard5.png') }}" alt="">
                <p>POS System (Touch Screen Monitor, Tablet, Weighing Scale)</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/hard1.png') }}" alt="">
                <p>Bluetooth &Wi-Fi enabled Barcode / QR Code Scanner</p>
            </div>
        </div>
    </div>
    <!--Ind we serve-->
    <div class="services-ind">
        <h2>
            Industries We Serve
        </h2>
        <div class="ind-cont">
            <div class="contents">
                <a href="{{ url_for('fitness') }}">
                    <img src="{{ url_for('static', filename='industries/fitness.png') }}">
                    <h5>
                        Fitness
                    </h5>
                </a>
            </div>
            <div class="contents">
                <a href="{{ url_for('fintech') }}">
                    <img src="{{ url_for('static', filename='industries/fintech.png') }}">
                    <h5>
                        Fintech
                    </h5>
                </a>
            </div>
            <div class="contents">
                <a href="{{ url_for('education') }}">
                    <img src="{{ url_for('static', filename='industries/education.png') }}">
                    <h5>
                        Education
                    </h5>
                </a>
            </div>
            <div class="contents">
                <a href="{{ url_for('healthcare') }}">
                    <img src="{{ url_for('static', filename='industries/healthcareicon.png') }}">
                    <h5>
                        Healthcare
                    </h5>
                </a>
            </div>
            <div class="contents">
                <a href="{{ url_for('energy') }}">
                    <img src="{{ url_for('static', filename='industries/energy-and-utilities.png') }}">
                    <h5>
                        Energy & Utilities
                    </h5>
                </a>
            </div>
            <div class="contents">
                <a href="{{ url_for('travel') }}">
                    <img src="{{ url_for('static', filename='industries/travel-and-hospitality.png') }}">
                    <h5>
                        Travel & Hospitality
                    </h5>
                </a>
            </div>
            <div class="contents">
                <a href="{{ url_for('manufacturing') }}">
                    <img src="{{ url_for('static', filename='industries/manufacturing.png') }}">
                    <h5>
                        Manufacturing
                    </h5>
                </a>
            </div>
            <div class="contents">
                <a href="{{ url_for('adverts') }}">
                    <img src="{{ url_for('static', filename='industries/advertising.png') }}">
                    <h5>
                        Advertising
                    </h5>
                </a>
            </div>
            <div class="contents">
                <a href="{{ url_for('retail') }}">
                    <img src="{{ url_for('static', filename='industries/retail.png') }}">
                    <h5>
                        Retail
                    </h5>
                </a>
            </div>
            <div class="contents">
                <a href="{{ url_for('entertain') }}">
                    <img src="{{ url_for('static', filename='industries/media-and-entertainment.png') }}">
                        <h5>
                            Media & Entertainment
                        </h5>
                    </a>
            </div>

            <div class="contents">
                <a href="{{ url_for('supplychain') }}">
                    <img src="{{ url_for('static', filename='industries/logistics.png') }}">
                    <h5>
                        Supply Chain And Logistics
                    </h5>
                </a>
            </div>
            <div class="contents">
                <a href="{{ url_for('travel') }}">
                    <img src="{{ url_for('static', filename='industries/life-sciences.png') }}" alt="">
                    <h5>
                        Life Science
                    </h5>
                </a>
            </div>  
        </div>
    </div>


    <div class="services-contact">
        <img src="{{ url_for('static', filename='services/Project_With_Us_graphic.png') }}" alt="">
        <h2>Contact Us</h2>
        <p>
            Fill in this form and we will be with you within 24 hours
        </p>
        <a href="{{ url_for('contact') }}">
            <button>
                Contact Us
            </button>
        </a>
    </div>
    
</main>
{% endblock %}