@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    position: fixed;
    width: 100%;
    max-width: 100%;
    background-color: #000100;
    text-decoration: none;
    z-index: 20;
    justify-content: space-between;

}

.navbar {
    display: flex;
    align-items: right;
    justify-content: space-between;
    margin: 2%;

}

.navbar .home-nav {
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin-left: -50%;
    transition: .5s ease-in-out;
}

.navbar .home-nav:hover {
    font-size: 17px;
    color: #fcc200;
}

.dropdown-serv,
.dropdown-abt,
.dropdown-tech,
.dropdown-ind,
.dropdown-sol,
.dropdown-hire {
    position: relative;
}

.dropdown-serv .dropbtn:hover,
.dropdown-abt .dropbtn:hover,
.dropdown-tech .dropbtn:hover,
.dropdown-ind .dropbtn:hover,
.dropdown-sol .dropbtn:hover,
.dropdown-hire .dropbtn:hover {
    transform: scale(1.1);
    color: #fcc200;
}


.dropdown-serv .dropbtn,
.dropdown-abt .dropbtn,
.dropdown-tech .dropbtn,
.dropdown-ind .dropbtn,
.dropdown-sol .dropbtn,
.dropdown-hire .dropbtn {
    border: none;
    background-color: transparent;
    outline: none;
    border-radius: 80px;
    text-align: center;
    width: 105%;
    font-size: 15px;
    font-family: inherit;
    margin-right: 20%;
    color: #fff;
    transition: .5s ease;
}

.dropdown-serv .dropdown-serv-content,
.dropdown-abt .dropdown-abt-content,
.dropdown-tech .dropdown-tech-content,
.dropdown-ind .dropdown-ind-content,
.dropdown-sol .dropdown-sol-content,
.dropdown-hire .dropdown-hire-content {
    display: none;
    position: absolute;
    background-color: #000100;
    min-width: 50vw;
    max-height: 700px;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 30;
}

.dropdown-serv .dropdown-serv-content a,
.dropdown-abt .dropdown-abt-content a,
.dropdown-tech .dropdown-tech-content a,
.dropdown-ind .dropdown-ind-content a,
.dropdown-sol .dropdown-sol-content a,
.dropdown-hire .dropdown-hire-content a {
    color: #fff;
    background: transparent;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-serv .dropdown-serv-content a:hover,
.dropdown-abt .dropdown-abt-content a:hover,
.dropdown-tech .dropdown-tech-content a:hover,
.dropdown-ind .dropdown-ind-content a:hover,
.dropdown-sol .dropdown-sol-content a:hover,
.dropdown-hire .dropdown-hire-content a:hover {
    background-color: #fcc200;
}

.dropdown-serv:hover .dropdown-serv-content,
.dropdown-abt:hover .dropdown-abt-content,
.dropdown-tech:hover .dropdown-tech-content,
.dropdown-ind:hover .dropdown-ind-content,
.dropdown-sol:hover .dropdown-sol-content,
.dropdown-hire:hover .dropdown-hire-content {
    display: block;
}

.dropdown-serv .dropdown-serv-content {
    left: -450%;
}

.dropdown-abt .dropdown-abt-content {
    left: -600%;
}

.dropdown-tech .dropdown-tech-content {
    left: -300%;
}

.dropdown-ind .dropdown-ind-content {
    left: -400%;
}

.dropdown-sol .dropdown-sol-content {
    left: -250%;
}

.dropdown-hire .dropdown-hire-content {
    left: -550%;
}

.header .mobile-menu div {
    width: 40px;
    height: 5px;
    background-color: white;
    margin: 4px 0;
    transition: .5s ease;
    border-radius: 20px;
}

.header .mobile-menu:hover .mobile-menu-icon {
    background-color: aqua;
}

.header .mobile-menu {
    display: none;
    padding-right: 2%;
    padding-top: 1.5%;
}

.logo {
    margin-left: 2%;
    margin-top: 1%;
    display: flex;
}

.logo h5 {
    font-optical-sizing: auto;
    font-size: 20px;
    padding-top: 0.5%;
    padding-left: 1%;
    font-weight: 400;
    color: #fff;
    font-family: "Caveat", cursive;

}

.logo a img {
    width: 50px;
}


#dark-mode-toggle {
    background: transparent;
    color: white;
    font-size: 55px;
    border: none;
    cursor: pointer;
    margin-right: 2%;
}

span #dark-mode-icon {
    padding: 0;
}

#dark-mode-toggle:active {
    color: blue;
}

@media screen and (max-width: 1050px) {
    .header .mobile-menu {
        position: absolute;
        z-index: 2000;
        right: 0;
        display: block;
        transition: transform 1s;
    }
    .header .mobile-menu .mobile-menu-icon.active:nth-child(2) {
        transform: rotate(45deg);
    }

    .mobile-menu:hover .mobile-menu-icon.active:nth-child(1) {
        transform: translate(45deg);
    }

    .mobile-menu-icon.active:nth-child(1) {
        transform: rotate(-45deg);
        position: relative;
        top: 8px;
    }

    .mobile-menu-icon.active:nth-child(3) {
        display: none;
    }

    .navbar {
        position: absolute;
        top: 90%;
        min-width: 95vw;
        min-height: 100vh;
        display: none;
        background-color: #000100;
        overflow-y: auto;
        transition-delay: 2s;
        padding-bottom: 30%;
    }

    .navbar.show {
        display: block;
        overflow: hidden;
    }

    .dropdown-serv,
    .dropdown-abt,
    .dropdown-tech,
    .dropdown-ind,
    .dropdown-sol,
    .dropdown-hire {
        padding-top: 10%;
    }

    .dropdown-serv:hover .dropdown-serv-content,
    .dropdown-abt:hover .dropdown-abt-content,
    .dropdown-tech:hover .dropdown-tech-content,
    .dropdown-ind:hover .dropdown-ind-content,
    .dropdown-sol:hover .dropdown-sol-content,
    .dropdown-hire:hover .dropdown-hire-content {
        transition-delay: 2s;
        display: block;
    }

    .dropdown-serv .dropdown-serv-content,
    .dropdown-abt .dropdown-abt-content,
    .dropdown-tech .dropdown-tech-content,
    .dropdown-ind .dropdown-ind-content,
    .dropdown-sol .dropdown-sol-content,
    .dropdown-hire .dropdown-hire-content {
        left: 0%;
        position: relative;
        height: 200px;
        overflow-y: auto;
        background: #fff;
        color: #000;
    }

    .dropdown-serv .dropdown-serv-content a,
    .dropdown-abt .dropdown-abt-content a,
    .dropdown-tech .dropdown-tech-content a,
    .dropdown-ind .dropdown-ind-content a,
    .dropdown-sol .dropdown-sol-content a,
    .dropdown-hire .dropdown-hire-content a {
        color: #000;
    }
}
    
