:root {
    --team1-transform: translate(-100%, -5%) scale(1.5);
    --team1-blur: blur(30px);
    --team1-zindex: 11;
    --team1-opacity: 0;

    --team2-transform: translate(0, 0);
    --team2-filter: blur(0);
    --team2-zindex: 10;
    --team2-opacity: 1;

    /* --bs-fff: color-mix(in srgb, ) */
    --bs-brief1: color-mix(in srgb, #228b22 50%, #000036 10%);
    --bs-brief2: color-mix(in srgb, #fff 30%, #000036);
    --bs-brief3: color-mix(in srgb, #002fa7 50%, #000036 10%);

}
* {
    box-sizing: border-box;
}


*::after, *::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000100;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

#preloader {
    background: black url(../static/preloader.gif) no-repeat center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 100;
}

.some-about {
    margin-left: 0.5%;
    padding: 2%;
    font-size: 20px;
    display: flex;
    width: 99%;
    height: 100%;
    border: 1px solid #afeeee;
    position: relative;
    background-color: #000;
    color: #fff;
    box-shadow: 6px 10px 22px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 10px 22px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 22px 1px rgba(0,0,0,0.75);
    z-index: 1;
}

.some-about .content {
    padding-top: 0.05%;
    padding-left: 3%;
}

.some-about::after {
    content: "";
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 26%;
    transform: translate(-50%);
    border-left: 4px solid #afeeee;
    z-index: 0;
    
}


.footer::before {
    content: "";
    background-image: linear-gradient(45deg,#989898, blue, green, black);
    background-attachment: fixed;
    background-size: 500%;
    width: 100%;
    height: 100%;
    filter: blur(100px);
    position: absolute;
    left:0;
    z-index: -1;
    animation: footeranime 10s ease-in-out infinite alternate ;
}

@keyframes footeranime {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.footer {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
    height: 200%;
    background: transparent;
    font-weight: 300;
    font-size: 15px;
    margin-top: 5%;
    z-index: 11;
}

.footer .services ul li,
.footer .company ul li,
.footer .contactus ul li,
.footer .location ul li {
    padding-bottom: 10%;
    color: #add8e6;
    list-style: none;
}

.footer .services ul li a,
.footer .company ul li a,
.footer .contactus ul li a {
    text-decoration: none;
    color: aliceblue;
    transition: .5s ease-in-out;
    font-weight: 300;
}

.footer .services ul li a:hover,
.footer .company ul li a:hover,
.footer .contactus ul li a:hover {
    font-size: 102%;
}

.footer .services,
.footer .contactus, 
.footer .company,
.footer .location {
    width: 20%;
    font-size: 20px;
    color: aliceblue;
    padding: 2%;
    margin-left: 5%;
}

/* .other-links {
    width: 100%;
    height: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
    background: yellow;
}

.other-links ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.other-links ul li a {
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.other-links ul li a:hover {
    font-size: 17px;
}

.other-links ul li a img {
    width: 25px;
    padding: 1%;
    transition: 1s ease-in-out;
} */

.footer .lowest {
    position: relative;
    text-align: center;
    width: 100%;
    height: 1%;
    padding: 2%;
    top: 0;
    background: #000036;
    color: #fff;
    font-weight: 300;
    z-index: 11;
}


.ind-color {
    position: relative;
    z-index: 3;
    color: #fff;
    margin-top: 10%;
}

.ind-color .bs-sol-head {
    position: relative;
    text-align: center;
    margin-top: 100px;
    z-index: 3;
    opacity: 20000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.ind-color::before {
    content: "";
    background-image: linear-gradient(45deg,white, blue, green);
    background-attachment: fixed;
    background-size: 500%;
    width: 100%;
    height: 100%;
    filter: blur(200px);
    position: absolute;
    top: 15%;
    left:0;
    z-index: 2.1;
    animation: footeranime 10s ease-in-out infinite alternate ;

}

.aligning {
    position: relative;
    top: 260%;
    left: 0;
    padding-top: 2%;
    padding-bottom: 0;
    height: 10%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    z-index: 2.2;
}

.bussiness-sol {
    margin-top: 2%;  
    width: 400px;
    height: 650px;
    border-radius: 10px;
    overflow: hidden;
    border: 5px solid black;
    z-index: 2.2;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
    z-index: 2.2;

}

.slides input {
    display: none;
}

.slide {
    width: 400px;
    transition: 2s;
}

.slide h3, .slide p, .slide strong {
    padding: 1%;
}

.slide h3 {
    padding-left: 30%;
}

.slide strong {
    padding-left: 2%;
    list-style-type: square;
}

.slide p {
    padding-left: 5%;
    overflow-wrap: break-word;
}

.slide .image {
    width: 100%;
    height: auto;
}

.bussiness-sol .slide p {
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
}

.navigation-manual {
    position: absolute;
    width: 350px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid aqua;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background: aqua;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20.5%;
}

#radio3:checked ~ .first {
    margin-left: -41%;
}



#radio4:checked ~ .first {
    margin-left: -61.5%;
}

#radio5:checked ~ .first {
    margin-left: -82%;
}

#radio6:checked ~ .first {
    margin-left: -102.5%;
}

#radio7:checked ~ .first {
    margin-left: -123%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 350px;
    justify-content: center;
    margin-top: 600px;
}

.navigation-auto div {
    border: 2px solid aqua;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: aqua;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: aqua;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: aqua;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: aqua;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background: aqua;
}
#radio6:checked ~ .navigation-auto .auto-btn6 {
    background: aqua;
}
#radio7:checked ~ .navigation-auto .auto-btn7 {
    background: aqua;
}

/*Rest of home page*/
.technologies {
    width: 100%;
    max-width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 5%;
    padding-bottom: 2%;
    position: relative;
    z-index: 2;
    color: #fff;
}

.technologies::before {
    content: "";
    background-image: linear-gradient(45deg,white, blue, green, black);
    background-attachment: fixed;
    background-size: 500%;
    width: 100%;
    height: 100%;
    filter: blur(100px);
    position: absolute;
    left:0;
    z-index: 1.1;
    animation: footeranime 10s ease-in-out infinite alternate ;
}

.technologies h2 {
    position: relative;
    top: -5%;
    margin-top: 2%;
    font-size: 40px;
}

.technologies .tech-content {
    position: absolute;
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1.2;
}

.technologies .tech-content .tech-heading {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10%;
    margin-left: 10%;
    position: relative;
    font-size: 20px;
}

.technologies .tech-content .tech-images {
    position: relative;
    width: 70%;
    max-width: 100%;
    height: auto;
    left: 20%;
    margin-bottom: 20px;
    transform: translate(-50%, - 50%);
}

.technologies .tech-content .tech-images img {
    max-width: 100%;
    height: auto;
}

.technologies .tech-content .tech-des {
    text-align: center;
    margin-left: 30%;
    width: 50%;
}

.technologies .buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    position: relative;
    z-index: 2;
}

.buttons button {
    font-size: 12px;
    border-radius: 50px;
    width: 45%;
    max-width: 500px;
    margin: 0 5px;
    transition: .5s;
}

.buttons button:hover {
    background-color: #f0ffff;
    transform: scale(1.1);
}

.buttons button.active {
    font-size: 14px;
    background-color: #23297a;
    color: #fff;
    font-weight: bold;
}

.technologies .tech-content .technology .tech-des a button{
    width: 50%;
    height: 35px;
    background-color: wheat;
    border: none;
    transition: 1s ease;
    font-weight: bold;
    transition: 1s ease-in-out;
}

.technologies .tech-content .technology .tech-des a button:hover {
    background-color: #002fa7;
    color: #fff;
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .technologies {
        padding-bottom: 10%;
        margin-bottom: 20%;
    }
    .technologies .tech-content {
        left: 60%;
    }


    .technologies .tech-content .tech-heading {
        margin-top: 150%;
    }

    .technologies .tech-content .tech-des {
        width: 100%;
        margin-left: 0;
    }

    .technologies .buttons {
        flex-direction: column;
        align-items: left;
        overflow: hidden;
        margin-top: -15%;
    }

    .buttons button {
        font-size: 12px;
        width: 100px;
        margin: 10px 0;
    }

}

.message-icon {
    position: fixed;
    left: 90%;
    bottom: 3%;
    cursor: pointer;
    z-index: 18;
}

.message-icon img::before {
    filter: blur(150px);
}

.message-icon img {
    width: 80px;
    height: 80px;
    background: rgba(252,194,0, 0.8);
    border-radius: 200px;
    transition: .5s;
}

.message-icon img:hover {
    background: #fcc200;
    width: 83px;
    height: 83px;
}

.popup {
    display: none;
    position: fixed;
    border: 3px solid #fcc200;
    bottom: 9%;
    right: 9%;
    width: 40%;
    max-width: 100%;
    max-height: 100%;
    background: #000100;
    color: #fff;
    padding: 20px;
    z-index: 31;
    transition: opacity 1s ease-in-out;
}

.popup.showup {
    display: block;
    opacity: 1;
}

.popup.hide {
    opacity: 0;
}

.popup .popup-content h2 {
    text-align: center;
}

.popup-content {
    position: relative;
}

.popup form input[type="text"],
.popup form input[type="email"],
.popup form input[type="tel"],
.popup form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.popup form input[type="submit"] {
    width: 50%;
    padding: 10px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    background-color: #fcc200;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup form input[type="submit"]:hover {
    background-color: #fcc200;
    transform: scale(1.1);
}

.popup form textarea {
    height: 100px; /* Adjust height as needed */
}

.popup form .sub input {
    position: relative;
    left: 25%;
    width: 50%;
    height: 10%;
    padding: 2%;
    border-radius: 20px;
    font-size: 13px;
    transition: 1s ease-in-out;
}

.services-ind::before {
    content: "";
    background-image: linear-gradient(45deg,#004242, #b8860b, #996515);
    background-attachment: fixed;
    background-size: 700%;
    width: 100%;
    height: 100%;
    filter: blur(100px);
    position: absolute;
    left:0;
    z-index: -1;
    animation: serviceanime 10s ease-in-out infinite alternate ;
}

.services-ind {
    position: relative;
    padding: 5%;
    z-index: 4;
    margin-top: 1%;
    font-size: large;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.services-ind h2 {
    text-align: center;
    color: #fff;
}

.services-ind .ind-cont {
    position: relative;
    left: 5%;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;

}

.services-ind .ind-cont .contents {
    width: 25%;
    margin: 20px;
    padding: 5%;
    height: 100%;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #ffcc00;
    transition: 1s;
}

.services-ind .ind-cont .contents:hover {
    position: relative;
    transform: scale(1.1);
    box-shadow: 10px 10px 15px 8px rgba(0,0,0,0.22);
    -webkit-box-shadow: 10px 10px 15px 8px rgba(0,0,0,0.22);
    -moz-box-shadow: 10px 10px 15px 8px rgba(0,0,0,0.22);
}

 .services-contact {
    padding: 10%;
    position: relative;
    width: 70%;
    height: 100%;
    left: 15%;
    border-radius: 10px;
    background-color: #1d2951;
    color: #fff;
}

 .services-contact img {
    position: relative;
    left: 13%;
    top: 0;
    width: 70%;
}


 .services-contact h2,
 .services-contact p {
    text-align: center;
    padding: 4%;
}

.services-contact button {
    width: 60%;
    height: 44px;
    margin-top: 20%;
    position: relative;
    left: 20%;
    border-radius: 20px;
    background: #23297a;
    color: #fff;
    font-weight: bold;
    z-index: 1;
    overflow: hidden;
    transition: 1s;
}




.services-contact button::after {
    content: ""; 
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);  
    z-index: -1;
    transition: transform .5s ease-in-out;
    transform: scaleX(0);
    transform-origin: center;
}

.services-contact button:hover {
    width: 62%;
    height: 46px;
    font-size: 15px;   
}

.services-contact button:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.home-about-title {
    text-align: center;
    font-weight: 300;
    padding-top: 4%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 2;
    margin-top: 5%;
    z-index: 5;
    color: #fff;
}

.home-about {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #fff;
}

.home-about img {
    position: relative;
    width: 60%;
    background-color: #fff;
}
.home-about .team-home {
    position: absolute;
    padding: 2%;
    width: 40%;
    left: 60%;
    top: 40%;

}

.home-about .mission {
    position: absolute;
    padding: 2%;
    width: 40%;
    left: 60%;
    top: 0;
}

.home-about .vision {
    position: absolute;
    padding: 2%;
    width: 40%;
    left: 60%;
    top: 20%;
}

.home-about .why {
    position: relative;
    left: 30%;
    text-align: center;
    width: 40%;
    padding-top: 5%;
    margin-top: 6%;

}

.home-about .team-home button {
    position: relative;
    left: 30%;
}

.home-about .team-home button,
.home-about .why button {
    position: relative;
    margin-top: 5%;
    width: 50%;
    height: 40px;
    background-color: #004242;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
    margin-bottom: 5%;
    color: aliceblue;
}

.home-about .team-home button:hover,
.home-about .why button:hover {
    transform: scale(1.1);
    background-color: #fcc200;
    color: #000;
}

@media screen and (max-width:800px) {
    .services-contact {
        padding: 3%;
    }
    .services-contact button {
        width: 70%;
        margin-top: 2px;
        left: 15%;
    }
    .services-contact button:hover {
        width: 72%;
        font-size: 13px;
    }
     .services-ind .ind-cont .contents {
        width: 60%;
        margin-left: 15%;
    }
    .services-ind .ind-cont .contents:hover{
        width: 62%;
    }
    .services-benefits .benefits-cont  .contents {
        width: 80%;
        left: 0;
    }
    .home-about img {
        position: relative;
        left: 10%;
        width: 80%;
    }

    .home-about .team-home,
    .home-about .mission,
    .home-about .vision {
        position: relative;
        width: 80%;
        text-align: center;
        left: 10%;
    }

    .home-about .team-home button,
    .home-about .why button {
        width: 80%;
    }

    .home-about .team-home button {
        left: 40%;
        transform: translateX(-50%);
    }

    .home-about .team-home button:hover {
        transform: translateX(-50%);
        width: 88%;
    }
    .home-about .why {
        width: 80%;
        left: 10%;
    }
}


/*About page*/

.about-head {
    padding-top: 8%;
    text-align: center;
}


.about-team {
    margin-top: 0;
    height: 800px;
    overflow: hidden;
    position: relative;
}

.about-team .about-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 1140px;
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 80%;
}

.about-team .about-list .team {
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    font-size: 15px;
    color: black;
}

.about-team .about-list .team img {
    width: 40%;
    position: absolute;
    left: 75%;
    top: 40%;
    transform: translateY(-50%);
}


.about-team .about-list .team .intro {
    position: absolute;
    top: 40%;
    width: 50%;
    opacity: 0;
    pointer-events: none;
}

.about-team .about-list .team:nth-child(2) .intro {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s;
}

.about-team .about-list .team:nth-child(n + 3) {
    opacity: 0;
    pointer-events: none;
}


.about-team .about-list .team:nth-child(2) {
    transform: var(--team2-transform);
    filter: var(--team2-filter);
    z-index: var(--team2-zindex);
    opacity: var(--team2-opacity);
}

.about-team .about-list .team:nth-child(1) {
    transform: var(--team1-transform);
    filter: var(--team1-blur);
    z-index: var(--team1-zindex);
    opacity: var(--team1-opacity);
    pointer-events: none;
}

.team-arrow {
    position: absolute;
    bottom: 35%;
    width: 900px;
    max-width: 60%;
    left: 25%;
    transform: translateX(-10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-arrow #team-prev, .team-arrow #team-next {
    background-color: #000;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    transition: 2s;
    border: 1px solid white;
}

.team-arrow #team-prev:hover, .team-arrow #team-next:hover {
    background-color: aqua;
    color: #000;
}

.team-arrow #team-prev:active, .team-arrow #team-next:active {
    font-size: 20px;
}


.about-team .about-list .team .intro {
    float: left;
    margin-top: -20%;
}

.about-team .about-list .team .intro .title {
    font-size: 1.2em;
}

.about-team .about-list .intro .des {
    font-size: small;
}

.about-team .about-list .team:nth-child(2) .intro .title,
.about-team .about-list .team:nth-child(2) .intro .des {
    opacity: 0;
    animation: showContent 1s 0.7s ease-in-out 1 forwards;
}

@keyframes showContent {
    from {
        transform: translateY(50px);
        filter: blur(30px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
}

.about-team .about-list .team:nth-child(2) .intro .des {
    animation-delay: 1.5s;
}


.about-team.team-next .about-list .team:nth-child(1) {
    animation: npositionItem2 2s ease-in-out 1 forwards;
}

@keyframes npositionItem2 {
    from{
        transform: var(--team2-transform);
        filter: var(--team2-filter);
        z-index: var(--team2-zindex);
        opacity: var(--team2-opacity);
    }
}

.about-team.team-next .about-list .team:nth-child(2) {
    animation: npositionItem3 3s ease-in-out 1 forwards;
}

@keyframes npositionItem3 {
    from{
        transform: var(--item3-transform);
        filter: var(--item3-filter);
        z-index: var(--item3-zindex);
        opacity: var(--item3-opacity);
    }
}


/* previous */
.about-team.team-prev .about-list .team:nth-child(2) {
    animation: positionItem1 3s ease-in-out 1 forwards;
}

@keyframes positionItem1 {
    from{
        transform: var(--team1-transform);
        filter: var(--team1-blur);
        z-index: var(--team1-zindex);
        opacity: var(--team1-opacity);
    }
}

.about-team.team-prev .about-list .team:nth-child(3) {
    animation: positionItem2 3s ease-in-out 1 forwards;
}

@keyframes positionItem2 {
    from{
        transform: var(--team2-transform);
        filter: var(--team2-filter);
        z-index: var(--team2-zindex);
        opacity: var(--team2-opacity);
    }
}


.about-team .about-list .team {
    transition: left 1s;
}

.about-team::before {
    width: 500px;
    height: 300px;
    content: '';
    background-image: linear-gradient(45deg, #dc422a, blue);
    position: absolute;
    z-index: -1;
    border-radius: 20% 30% 60% 30%;
    filter: blur(150px);
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    transition: 1s;
}

.about-team .about-list .ceo .team-content .get-started a button {
    width: 60%;
    height: 40px;
    background: #23297a;
    color: aliceblue;
    transition: 1s;
    border: none;
    border-radius: 20px;
    margin-top: 10%;
    cursor: pointer;
}

.about-team .about-list .ceo .team-content .get-started a button:hover {
    transform: scale(1.1);
    background: #4169e1;
    color: #000;
}



.about-team .about-list .our .team-content .get-started a img {
    width: 10%;
    cursor: pointer;
    position: relative;
    margin-top: 10%;
    left: 10%;
}


@media screen and (max-width: 991px) {
    .footer {
        height: 100%;
    }
    .about-team .about-list .team {
        width: 90%;
    }

    .about-team .about-list .detail .techno {
        overflow: auto;
    }
    
}

@media screen and (max-width:800px) {
    .about-head {
        padding-top: 15%;
        position: absolute;
        left: 40%;
    }
    .team-arrow {
        bottom: 25%;
    }

    .about-team .about-list .team img {
        left: 50%;
    }

    .about-team .about-list {
        top: 7%;
    }
    .about-team .about-list .team {
        width: 100%;
        font-size: 10px;
    }
    .about-team {
        height: 800px;
    }
    .about-team .about-list {
        height: 80%;
    }
    .about-team .about-list .team .intro {
        width: 50%;
    }

    .about-team .about-list .team img {
        width: 40%;
    }

    .about-team .about-list .team .detail .title {
        font-size: 20px;
    }

    .about-team .about-list .team .detail .des {
        height: 100px;
        overflow: auto;
    }
    .about-team .about-list .team-arrow {
        position: absolute;
        bottom: -10000px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 767px) {
    .some-about {
        position: relative;
        width: 95%;
        height: 550px;
        left: 2%;
    }

    .some-about .heading {
        position: absolute;
        text-align: center;
        font-size: 16px;
    }

    .some-about .content {
        position: absolute;
        left: 0;
        top: 30%;
    }
    .some-about::after {
        border: 0;
    }

    .technologies {
        height: 400px;
        margin-top: 200px;
    }

    .technologies h2 {
        top: -40%;
    }

    .technologies .tech-content {
        top: 20%;
    }

    .technologies .tech-content .tech-images img {
        max-width: 100%;
        height: auto;
    }


    .footer {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
    }
    .footer .services {
        width: 60%;
        height: 60%;
        margin-left: 30%;
    }
    .footer .company {
        height: 20%;
        width: 60%;
        margin-left: 30%;
    }
    .footer .contactus {
        height: 20%;
        width: 60%;
        margin-left: 30%;
    }

    .footer .location {
        margin-left: 30%;
        width: 60%;
    }

    .footer .lowest {
        top: 100%;
    }

    .message-icon {
        left: 80%;
        bottom: 8%;
        width: 30px;
        height: 30px;
    }
    .popup {
        width: 70%;
        bottom: 15%;
    }

    .services-contact {
        width: 90%;
        height: 100%;
        left: 5%;
    }
}

.bs-brief::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: linear-gradient(45deg, var(--bs-brief1), var(--bs-brief2), var(--bs-brief3));
    z-index: -1;
    filter: blur(150px);
    background-size: 700%;
    animation: carouselcolor 10s ease-in-out infinite alternate;
}

.bs-brief {
    background: transparent;
    position: relative;
}

.bs-brief h2 {
    margin-top: 15%;
    font-size: 50px;
    margin-bottom: 5%;
    text-align: center;
    color: #fff;
}

.bs-brief .bs-brief-cont {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.bs-brief .bs-brief-cont .content {
    background-color: #b78727;
    color: #000;
    padding: 5%;
    border-radius: 30px;
    text-align: center;
    width: 30%;
    margin-left: 13%;
    margin-bottom: 5%;
    transition: 1s;
}

.bs-brief .bs-brief-cont .content:hover {
    background: #967117;
    color: #fff;
    box-shadow: 10px 10px 32px 6px rgba(245,245,220, 0.3);
    -webkit-box-shadow: 10px 10px 32px 6px rgba(245,245, 220, 0.3);
    -moz-box-shadow: 10px 10px 32px 6px rgba(245,245,220, 0.3);
}

.bs-brief .bs-brief-cont .center {
    margin-left: 35%;
}

.bs-brief .bs-brief-cont .content a button {
    width: 50%;
    height: 40px;
    background: #004242;
    margin-top: 10%;
    color: aliceblue;
    transition: 1s;
    cursor: pointer;
}

.bs-brief .bs-brief-cont .content a button:hover {
    transform: scale(1.1);
    background-color: #23297a;
    color: #fff;
}

@media screen and (max-width:800px) {
    .bs-brief .bs-brief-cont .content {
        width: 80%;
        margin-left: 10%;
    }
    
    .bs-brief .bs-brief-cont .center {
        width: 80%;
        margin-left: 10%;
    }
}