{% extends "base.html" %}
{% block content %}
<main class="main-tech">
    <h1>
        Cloud
    </h1>
    <div class="tech-dets">
        <div class="tech-dets-intro">
            <h2>
                Microsoft Azure Development
            </h2>
            <div class="flexing">
                <div class="flex-cont">
                    <p>
                        With Fortress Data And Analytics Microsoft Azure cloud services, modernize your applications to Azure cloud and enjoy the benefits of reduced cost, better performance, robust security, and the ability to respond to changes faster.
                    </p>
                    <a href="{{ url_for('contact') }}">
                        <button>
                            Get Started
                        </button>
                    </a>
                </div>
                <img src="{{ url_for('static', filename='landing/azure.png') }}" alt="">
            </div>
        </div>
        <div class="main-tech-dets-head">
            <h3>
                Microsoft Azure Application Development
            </h3>
        </div>
        <div class="main-tech-dets">
            <div class="content left">
                <h4>
                    <img src="{{ url_for('static', filename='services/Web-Dev-Services.png') }}" alt="">

                    Azure Web Development</h4>
                <p>Modern web application development requires advanced technologies that enable businesses to innovate faster, scale easily, and change dynamically to meet the changing requirements. Our Azure web development services offer cost-effective and highly-scalable web app development using Microsoft’s Azure cloud platform.</p>

            </div>
            <div class="content right">
                <h4>
                    <img src="{{ url_for('static', filename='services/Full-Stack-Web-Development.png') }}" alt="">

                    Azure Migration Services</h4>
                <p>We help businesses to migrate to the cloud to realize the benefits of cost-saving, flexible architecture, security, and high availability. Our Azure cloud migration services aim at offering secure and errorless migration to Azure cloud with full-proof migration strategies.</p>

            </div>
            <div class="content left">
                <h4>
                    <img src="{{ url_for('static', filename='services/BI-Consulting-Services-Icon.png') }}" alt="">

                    Azure Cloud Consulting</h4>
                <p>Azure platform offers many products and services in a modern development environment. Our Azure consulting services offer strategic consulting to companies who are looking to develop cloud-native solutions or migrate their mission-critical systems to Azure cloud for better performance and agility.</p>

            </div>
            <div class="content right">
                <h4>
                    <img src="{{ url_for('static', filename='services/Predictive-Analytics-Solutions-Icon.png') }}" alt="">

                    Azure Analytics Services</h4>
                <p>Azure provides a range of services for data warehousing, analytics, and real-time data streaming. Fortress Data And Analytics' expert team of data analysts and BI developers offer enterprise-grade data solutions using Azure’s comprehensive analytics services to collect, process, and analyze big data.</p>

            </div>

        </div>
    </div>
    <div class="contact">
        <img src="{{ url_for('static', filename='services/hire.png') }}" alt="">
        <h2>Contact Us</h2>
        <p>Our developers are experts in leveraging the potential of Azure cloud by building cloud-native apps, migrating existing solutions to Azure, launching new product solutions, and providing round-the-clock support and maintenance.</p>
        <a href="{{ url_for('contact') }}">
            <button>
                Consult Azure Experts
            </button>
        </a>
    </div>
    <div class="tech-dets">
        <div class="tech-dets-intro">
            <h2>
                AWS Consulting Services
            </h2>
            <div class="flexing">
                <div class="flex-cont">
                    <p>
                        Fortress Data And Analytics  is your reliable AWS consulting partner offering a wide range of AWS consulting services to help enterprises migrate to the cloud or build new cloud-based solutions. Our full range of services includes AWS consulting, cloud-based big data and analytics solutions, AWS cloud web services, and on-demand cloud implementation and support.
                    </p>
                    <a href="{{ url_for('contact') }}">
                        <button>
                            Get Started
                        </button>
                    </a>
                </div>
                <img src="{{ url_for('static', filename='landing/aws.png') }}" alt="">
            </div>
        </div>
        <div class="main-tech-dets-head">
            <h3>
                A Full Range of AWS Cloud Consulting Services
            </h3>
        </div>
        <div class="main-tech-dets">
            <div class="content left">
                <h4>
                    <img src="{{ url_for('static', filename='services/Full-Stack-Web-Development.png') }}" alt="">

                    AWS Migration</h4>
                <p>Our experienced team of AWS consultants creates a full-proof migration strategy to successfully migrate on-premise applications to the AWS cloud. Modernizing your apps with AWS cloud migration helps you cut costs, save time, and accelerate growth.</p>

            </div>
            <div class="content right">
                <h4>
                    <img src="{{ url_for('static', filename='services/Back-End-Development.png') }}" alt="">

                    App Development With AWS</h4>
                <p>AWS offers a range of frontend and backend tools that streamline app development for web and mobile. Our comprehensive and customized cloud services offer modern application development on AWS to meet the needs of today’s rapidly changing landscape.</p>

            </div>
            <div class="content left">
                <h4>
                    <img src="{{ url_for('static', filename='services/SQL-Server-Integration-icon.png') }}" alt="">

                    AWS Optimization</h4>
                <p>Our AWS consultants and AWS developers analyze your current AWS infrastructure and identify opportunities for optimizations to cut down costs, increase performance, and utilize the services more efficiently and effectively.</p>

            </div>
            <div class="content right">
                <h4>
                    <img src="{{ url_for('static', filename='services/Azure-Analysis-Services-icon.png') }}" alt="">

                    AWS Analytics Services</h4>
                <p>Extract valuable insights from data by using a wide range of tools and services offered by AWS analytics services. Our developers are well-versed with many tools, environments, and technologies to collect, analyze, and utilize data to make data-driven decisions.</p>

            </div>
            <div class="content left">
                <h4>
                    <img src="{{ url_for('static', filename='services/Bi_Consulting-1.png') }}" alt="">

                    AWS Consulting</h4>
                <p>We are an AWS consulting partner helping organizations harness the power of the cloud to realize the benefits of a modern development environment by using AWS services and technologies. We help our clients architect, plan, develop, implement, and manage cloud-based applications.</p>

            </div>
            <div class="content right">
                <h4>
                    <img src="{{ url_for('static', filename='services/Cloud-Deployment-Services.png') }}" alt="">

                    AWS Managed Services</h4>
                <p>Our cloud development services aim at offering helping organizations reap the benefits of the cloud through our end-to-end services such as consulting, cloud adoption, deployment, migration, optimization, and management services. We make the best use of the AWS cloud to scale effortlessly and operate efficiently.</p>

            </div>

        </div>
    </div>
    
    <div class="contact">
        <img src="{{ url_for('static', filename='services/hire.png') }}" alt="">
        <h2>Contact Us</h2>
        <p>Our AWS cloud service experts have ample experience in overcoming the challenges that are part of cloud computing and ensure cost-saving and efficiency.</p>
        <a href="{{ url_for('contact') }}">
            <button>
                Consult AWS Experts
            </button>
        </a>
    </div>

    <div class="tech-dets">
        <div class="tech-dets-intro">
            <h2>
                Salesforce Development Company
            </h2>
            <div class="flexing">
                <div class="flex-cont">
                    <p>
                        Fortress Data And Analytics, as a skilled Salesforce development company, offers an assortment of Salesforce development services and Salesforce implementation services. Salesforce has been one of the most popular and leading cloud-based CRM solutions across the globe that has uncountable success stories that have been creating deeper and long-lasting customer relationships, getting smarter business, garnering increased productivity, and maximizing RoI.
                    </p>
                    <a href="{{ url_for('contact') }}">
                        <button>
                            Get Started
                        </button>
                    </a>
                </div>
                <img src="{{ url_for('static', filename='landing/salesforce.png') }}" alt="">
            </div>
        </div>
        <div class="main-tech-dets-head">
            <h3>
                Our Salesforce Development Services
            </h3>
        </div>
        <div class="main-tech-dets">
            <div class="content left">
                <h4>
                    <img src="{{ url_for('static', filename='services/Implementation-icon.png') }}" alt="">

                    Implement With Efficiency</h4>
                <p>Finest quality Salesforce implementation with utmost efficiency, cost-effectiveness, risk management. Expansion on existing Salesforce CRM through powerful custom application development. Integration with mobile apps to generate productivity and faster business results. Development of apps based on app-exchange security guidelines. Email services, code optimization and deployment Align functionalities to the company’s existing workflows</p>

            </div>
            <div class="content right">
                <h4>
                    <img src="{{ url_for('static', filename='services/Custom-Development_-icon.png') }}" alt="">

                    Custom Development</h4>
                <p>Convenient, comprehensive and flexible benefits with Salesforce implementation and customizable business apps, based on your organization's specific needs. Expansion on existing Salesforce CRM through powerful custom application development. Make existing processes/workflows more efficient and robust. Customize and personalize existing Salesforce applications according to your business requirements</p>

            </div>
            <div class="content left">
                <h4>
                    <img src="{{ url_for('static', filename='services/Integration-icon.png') }}" alt="">

                    Integration</h4>
                <p>Seamless integration of Salesforce with your third-party solutions and relevant data synchronization. Integration with mobile apps to generate productivity and faster business results. Secure, reliable, seamless, and scalable integration of Salesforce functionalities with on-premise applications. Building web services in Salesforce, helping third-party apps to exchange information</p>

            </div>
            <div class="content right">
                <h4>
                    <img src="{{ url_for('static', filename='services/Salesforce1-icon.png') }}" alt="">

                    Salesforce1</h4>
                <p>Establishing cutting-edge connectivity between apps, devices, customer information through enterprise solutions with next-generation Salesforce1 and its innovative APIs. Business execution from your mobile phone A flexible CRM that moves with you Building custom apps with clicks or code Personalization and customization as needed</p>

            </div>
            <div class="content left">
                <h4>
                    <img src="{{ url_for('static', filename='services/BI-Consulting-Services-Icon.png') }}" alt="">

                    Support Services</h4>
                <p>Support and maintenance services related to the implementation of Salesforce functionalities to organization’s existing processes/workflows Site domain registration & setup administration Login settings, activation / deactivation Publishing app on App-Exchange SLA driven software maintenance and support services Best of performance, service delivery, maximum uptime, resource optimization, global support SLA compliance of 95+% Setting up consistent support methods along with communication protocols</p>
            </div>
        </div>
    </div>
    <div class="contact">
        <img src="{{ url_for('static', filename='services/Project_With_Us_graphic.png') }}" alt="">
        <h2>Contact Us</h2>
        <p>Our teams have comprehensive knowledge about various facets of Salesforce applications, their intricacies, and their implementation details.</p>
        <a href="{{ url_for('contact') }}">
            <button>
                Let's Connect
            </button>
        </a>
    </div>
</main>
{% endblock %}