{% extends 'base.html' %}
{% block title %}
    Advertisement Industry
{% endblock %}
{% block content %}
<main class="ind">
    <div class="flex-intro">
        <div class="ind-head">
            <h1>
                A Trusted Digital Partner For Advertising Software
            </h1>
            <p>
                Enhance your business with top-tier Software for the Advertising Industry – blending creativity with Strategy. We comprehend the needs of the industry and deliver premier advertising management software for advertising agencies, aiding enterprises in significantly boosting productivity and profitability. Our adept team of professionals possesses profound knowledge of the advertising industry, crafting solutions that streamline continuous collaboration among organizational departments and enhance business process efficiencies.
            </p>
            <a href="{{ url_for('contact') }}">
                <button>
                    Consult Our Expert
                </button>
            </a>
        </div>
        <img src="{{ url_for('static', filename='industrial/Advertising.png') }}" alt="">
    </div>
    <div class="ind-sol">
        <div class="ind-sol-intro">
            <h2>
                Our Expertise in Advertising Management Software
            </h2>
            <p>
                Our suite of business software systems empowers brands and marketing agencies at every stage of the marketing cycle. With a focus on resource planning, management, and operational control across different departments, our diverse software modules cater to specific operational areas, integrated seamlessly through intermediate modules.
            </p>
        </div>
        <div class="ind-sol-main">
            <div class="content left">
                <h3>
                    Software Solutions for Advertising Industry
                </h3>
                <p>
                    Addressing the ever-evolving demands, our robust advertising Industry software ensures alignment with customer requirements, innovation, and industry modernization. Our solutions enable online stakeholders and advertising companies to achieve business objectives, acquire new clients, and efficiently manage advertising campaigns, facilitating effective campaign evaluation.
                </p>
            </div>
            <div class="content center">
                <h3>
                    Custom Software for Advertisement Management
                </h3>
                <p>
                    Our suite of business software systems empowers brands and marketing agencies at every stage of the marketing cycle. With a focus on resource planning, management, and operational control across different departments, our diverse software modules cater to specific operational areas, integrated seamlessly through intermediate modules.
                </p>
            </div>
            <div class="content right">
                <h3>
                    Beacon Based Advertisement System
                </h3>
                <p>
                    Our beacon-based advertising solution stands out as one of the most comprehensive solutions, leveraging proximity marketing integrated seamlessly with beacon support. It delivers unparalleled precision and quality, offering significant value to the advertising industry.
                </p>
            </div>
            <div class="content left">
                <h3>
                    Enterprise Mobility Solution
                </h3>
                <p>
                    Our enterprise mobility solutions for advertising enable organizations to advertise on mobile devices, manage mobile ads including banners and video ads, and enhance brand awareness and customer reach.
                </p>
            </div>
            <div class="content center">
                <h3>
                    Advertisement Analytics Solutions
                </h3>
                <p>
                    Our comprehensive data analytics platform provides insightful data for evaluating advertising effectiveness, optimizing advertising channels and strategies for maximum impact.
                </p>
            </div>
            <div class="content right">
                <h3>
                    Advertisement Mobile Apps
                </h3>
                <p>
                    Our advertisement mobile apps offer instant access to ads across various genres, facilitating quick user action. As part of cross-channel advertising, they encompass social media, endorsements, and audio and video channels.
                </p>
            </div>
            
        </div>
    </div>
    <div class="ind-contact">
        <img src="{{ url_for('static', filename='contact/hire.png') }}" alt="">
        <h2>
            Hire The Best Talent That Meet Your Needs
        </h2>
        <p>
            Today's advertising industry demands thorough understanding of customer needs, logical thinking, innovation, and optimal utilization of IT potential. Fortress Data And Analytics' advertising software solutions empower online stakeholders and advertising companies to achieve business objectives, acquire new clients, and efficiently manage advertising campaigns, facilitating effective campaign evaluation.
        </p>
        <a href="{{ url_for('contact') }}">
            <button>
                Let's Connect
            </button>
        </a>
    </div>
    
    <div class="ind-tech">
        <h2>
            Technologies And Platform We Use
        </h2>
        <div class="tech-cont">
            <div class="techy">
                <img src="{{ url_for('static', filename='services/React-Logo.png') }}" alt="">
                <p>React</p>
            </div>
            <div class="techy">
                <img src="{{ url_for('static', filename='services/plat1.png') }}" >
                <p>JavaScript</p>
            </div>
            <div class="techy">
                <img src="{{ url_for('static', filename='services/Angular-Logo.png') }}" width="70">
                <p>Angular</p>
            </div>
            <div class="techy">
                <img src="{{ url_for('static', filename='services/plat4.png') }}" width="70">
                <p>Vuejs</p>
            </div>
            <div class="techy">
                <img src="{{ url_for('static', filename='services/NET-Logo.png') }}" alt="">
                <p>.NET</p>
            </div>
            <div class="techy">
                <img src="{{ url_for('static', filename='services/Power-BI-Logo.png') }}" alt="">
                <p>Power BI</p>
            </div>
        </div>
    </div>
    <div class="ind-hire">
        <img src=" {{ url_for('static', filename='contact/looking.png') }} " alt="">
        <img src=" {{ url_for('static', filename='contact/looking2.png') }} " alt="">
        <h2>
            Need a Customized Advertising Software Solution for your business?       </h2>
        <p>
            Our custom software developers have an extensive service portfolio to tailor your advertising software solution according to business requirements.
        </p>
        <a href="{{ url_for('contact') }}">
            <button>
                Connect With Us
            </button>
        </a>
    </div>
</main>
{% endblock %}